.accordion {
  position: relative;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion-content-wrapper {
  height: 0;
  overflow: hidden;
  transition: height .25s;
  border-bottom: 2px solid $accordion-controls;

  &.open { transition: height 0s; }
  &.transitioning { transition: height .25s; }
}

.accordion-content {
  padding: 20px 0 30px;
  .content-block {
    ul {
      padding-left: 0;
      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &:before {
          display: none;
        }
        h4 {
          margin-bottom: 10px;
          span {
            font-weight: normal;
            color: $text-3;
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

.accordion-title {
  position: relative;
  cursor: pointer;
  color: $accordion-controls;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 45px 10px 0;
  font-weight: normal;

  &:after,
  &:before {
    content: '';
    width: 16px;
    height: 2px;
    background: $accordion-controls;
    position: absolute;
    top: 21px;
    right: 1px;
  }

  &:before {
    width: 2px;
    height: 16px;
    top: 14px;
    right: 8px;
    transition: transform .25s;
    transform: rotate3d(0, 0, 1, 0deg);
  }

  &.open:before {
    transform: rotate3d(0, 0, 1, 90deg);
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
  }
}

@media screen and (max-width: 767px) {
  .accordion {
    margin-bottom: 15px;
  }

  .accordion-content {
    padding: 10px 0 20px;
    .content-block:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .accordion-title {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 25px 8px 0;

    &:after {
      width: 12px;
      top: 16px;
    }

    &:before {
      height: 12px;
      top: 11px;
      right: 6px;
    }
  }
}
