$text-1:                  #0f2537;
$text-2:                  #888;
$text-3:                  #666;
$text-4:                  #ccc;
$text-hero:               #fff;
$text-quote:              #6793c5;
$list-dot:                #3a9deb;
$list-counter:            #fff;
$divider:                 #f9f9f6;
$secondary-content-bg:    #f9f9f6;
$btn-text:                #fff;
$btn-secondary-text:      #0062af;
$btn-bg:                  #0062af;
$btn-bg-hover:            #3a9deb;
$btn-border-white:        #fff;
$border-white:            #fff;
$link-text:               #0062af;
$link-hover:              #3a9deb;
$accordion-controls:      #0062af;
$blue-bg:                 #0062af;
$blue-bg-light:           #3a9deb;
$video-text:              #fff;
$disclaimers-bg:          #f3f8f8;
$disclaimers-header:      #1d7770;
$proof-point:             #fdb935;

$width-1-col:             8.333333%;
$width-2-col:             16.666667%;
$width-3-col:             25%;
$width-4-col:             33.333333%;
$width-5-col:             41.666667%;
$width-6-col:             50%;
$width-7-col:             58.333333%;
$width-8-col:             66.666667%;
$width-9-col:             75%;
$width-10-col:            83.333333%;
$width-11-col:            91.666667%;
$width-12-col:            100%;