extends ../layouts/layout.jade

block title
  title chco pages

block content
  div.container-fluid.break-medium
    div.row
      div.col-xs-12.col-sm-10.col-sm-offset-1

        h2 Sprint 1 pages
        a(href='article.html') Article
        a(href='section-detail.html') Section Detail
        a(href='condition-symptom.html') Condition Symptom
        a(href='campaign.html') Campaign and Promotion
        a(href='healthcare-professional-bio.html') Healthcare Professional Bio
