extends ../layouts/layout.jade

block title
  title Map Play

block content
  div.map-container
  div.container-fluid.break-medium
    div.row
      div.col-xs-12.col-sm-10.col-sm-offset-1

        h2 Homepage
        
        +city('The adventure begins')
