include ../mixins.jade
+related-item('0Montserrat Regular #0062af 16/18', 'http://placehold.it/280x190')
+related-item('1Montserrat Regular #0062af 16/18', 'http://placehold.it/280x190')
+related-item('2Montserrat Regular #0062af 16/18', 'http://placehold.it/280x190')